<%= form_for(@person, :url=>{ :controller=>"photos", :action=>"list" } ) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this people from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :年齢 %><br />
    <%= f.collection_select 'age_id', Age.find(:all), :id, :age_range %>
  </div>
  <div class="field">
    <%= f.label :地域 %><br />    
    <%= f.collection_select 'area_id', Area.find(:all), :id, :area_name %>
  </div>
  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.collection_select 'sex_id', Sex.find(:all), :id, :sex %>
  </div>
  <div class="field">
    <%= f.label :ユーザー名 %><br />
    <%= f.text_field :name %>
  </div>
  <div class="action">
    <%= f.submit "検索" %>
  </div>
<% end %>

