<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :area_id %><br />
    <!--<<%= f.number_field :area_id %>-->
    <%= f.collection_select 'area_id', Area.find(:all), :id, :area_name %>
  </div>
  <div class="field">
    <%= f.label :age_id %><br />
    <!--<%= f.number_field :age_id %>-->
    <%= f.collection_select 'age_id', Age.find(:all), :id, :age_range %>
  </div>
  <div class="field">
    <%= f.label :sex_id %><br />
    <!--<%= f.number_field :sex_id %>-->
    <%= f.collection_select 'sex_id', Sex.find(:all), :id, :sex %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
