<h1>Welcome to LocialS!</h1>
<h2>Please input your name and password</h2>

<%= form_for(@person, :url=>{ :controller=>"people", :action=>"authenticate" } ) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label for="person_password">Password</label><br />
    <input id="password" name="password" size="30" type="password" />
  </div>

  <div class="actions">
    <%= f.submit 'ログイン' %>
  </div>

<% end %>
