<h1>Listing ages</h1>

<table>
  <tr>
    <th>Age range</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ages.each do |age| %>
  <tr>
    <td><%= age.age_range %></td>
    <td><%= link_to 'Show', age %></td>
    <td><%= link_to 'Edit', edit_age_path(age) %></td>
    <td><%= link_to 'Destroy', age, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Age', new_age_path %>
