<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :targetageid %><br />
    <%= f.number_field :targetageid %>
  </div>
  <div class="field">
    <%= f.label :targetareaid %><br />
    <%= f.number_field :targetareaid %>
  </div>
  <div class="field">
    <%= f.label :targetsex %><br />
    <%= f.check_box :targetsex %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.number_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :posteddate %><br />
    <%= f.datetime_select :posteddate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
