<h1>Listing photos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Targetageid</th>
    <th>Targetareaid</th>
    <th>Targetsex</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.title %></td>
    <td><%= photo.targetageid %></td>
    <td><%= photo.targetareaid %></td>
    <td><%= photo.targetsex %></td>
    <td><%= photo.owner_id %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
