<h1>Photo lists</h1>


<% if nil != @photos then %>
  <table class="photo_lists">
    <% @photos.each do |photo| %>
      <tr class="item">
        <td class="list_img">
          <%= image_tag(photo.image_url.to_s, :class=>'img') %>
        </td>
        <td class="list_info">
  	      <b>タイトル:</b><%= photo.title %><br>
	        <b>ユーザー:</b><%= @person[0].name %><br>
        </td>
        <td class="list_link">
    	    <%= link_to '詳細', photo %></td>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<!--<%= link_to 'Back', photos_path %>-->
