<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Targetageid:</b>
  <%= @photo.targetageid %>
</p>

<p>
  <b>Targetareaid:</b>
  <%= @photo.targetareaid %>
</p>

<p>
  <b>Targetsex:</b>
  <%= @photo.targetsex %>
</p>

<p>
  <b>Owner:</b>
  <%= @photo.owner_id %>
</p>
<div>
  <%= image_tag @photo.image_url.to_s %>  
</div>
<div>
  <table>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Comment</th>
    </tr>
  
    <% @comments.each do |comment| %>
     <tr>
       <td><%= comment.created_at.strftime("%Y-%m-%d") %></td>
       <td><%= comment.person.name %>
       <td><%= comment.comment %></td>
     </tr>
   <% end %>
  </table>
</div>

<%= render 'form_comment' %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
